<ion-content padding>


    <ion-header>
        <h2>Service user feedback</h2>
    </ion-header>

    <ion-list>
        <ion-radio-group value="at0006">

            <ion-list-header>
                <ion-label>
                    <h3>Control over daily routines</h3>
                </ion-label>
            </ion-list-header>
            <h5>
                <ion-item>
                    <ion-label>Completed indepedently</ion-label>
                    <ion-radio value="at0003"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Some support</ion-label>
                    <ion-radio value="at0004"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Significant support</ion-label>
                    <ion-radio value="at0005"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Not performed</ion-label>
                    <ion-radio value="at0006"></ion-radio>
                </ion-item>
            </h5>
        </ion-radio-group>

        <ion-radio-group value="at0010">

            <ion-list-header>

                <ion-label>
                    <h2>Feeling respected</h2>
                </ion-label>
            </ion-list-header>


            <h5>
                <ion-item>
                    <ion-label>Agree</ion-label>
                    <ion-radio value="at0008"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Could be improved</ion-label>
                    <ion-radio value="at0009"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Not applicable</ion-label>
                    <ion-radio value="at0010"></ion-radio>
                </ion-item>
            </h5>
        </ion-radio-group>


        <ion-radio-group>

            <ion-list-header>
                <ion-label>
                    Getting around
                </ion-label>
            </ion-list-header>
            </h3>
            <h5>
                <ion-item>
                    <ion-label>Agree</ion-label>
                    <ion-radio value="at0012"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Could be improved</ion-label>
                    <ion-radio value="at0013"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Not applicable</ion-label>
                    <ion-radio value="at0014"></ion-radio>
                </ion-item>
            </h5>
        </ion-radio-group>


        <ion-radio-group>
            <h3>
                <ion-list-header>
                    <ion-label>
                        Staying well
                    </ion-label>
                </ion-list-header>
            </h3>
            <h5>
                <ion-item>
                    <ion-label>Totally agree</ion-label>
                    <ion-radio value="1::at0019"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Agree</ion-label>
                    <ion-radio value="2::at0020"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label></ion-label>
                    <ion-radio value="3::at0021"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label></ion-label>
                    <ion-radio value="4::at0022"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label></ion-label>
                    <ion-radio value="5::at0023"></ion-radio>
                </ion-item>
            </h5>
        </ion-radio-group>

        <ion-radio-group>
            <h3>
                <ion-list-header>
                    <ion-label>
                        Maximising outcomes
                    </ion-label>
                </ion-list-header>
            </h3>
            <h5>
                <ion-item>
                    <ion-label>Totally agree</ion-label>
                    <ion-radio value="1::at0024"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Agree</ion-label>
                    <ion-radio value="2::at0025"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Disagree</ion-label>
                    <ion-radio value="3::at0026"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>4::at0027</ion-label>
                    <ion-radio value="4::at0027"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>12345</ion-label>
                    <ion-radio value="5::at0028"></ion-radio>
                </ion-item>
            </h5>
        </ion-radio-group>

    </ion-list>